
.row__above {
    margin-bottom: spacing(4);
}
.row__above .info__category .category__item {
    margin-bottom: spacing(2);
}
.row__above .info__category .category__item .category__name {
    color: #fff;
    float: left;
    width: 50%;
}
.row__above .info__category .category__item .category__content {
    color: #e9e9e9;
    float: left;
    width: 23.5%;
    
}
.row__above .info__content .info__title {
    color: #fff;
    margin-bottom: spacing(1);
}
.row__above .info__content .info__text {
    color: #e9e9e9;
    text-align: justify;
}
